
svg{
	position: absolute;
	margin:0;
	top:0;
	left:400px;
}

.circle-label{
	text-anchor: middle;
	font-family: Helvetica;
	fill: rgb(100,100,100);
	dominant-baseline: central;
}

.bkg-circle{
	fill: rgb(168,219,168);
	stroke: rgb(59,134,134);
	stroke-width: 5px;	
	opacity: .65;
}

.hover-circle{
	fill: white;
	stroke-width: 5px;
	opacity: 0;
	stroke-opacity:0;	
}

.play{
	fill: rgb(250,208,137);
	stroke: rgb(245,99,74);
	stroke-width: 5px;	
}