
body{
	background-color: rgb(250,250,250);
	color: rgb(100,100,100);
	overflow: hidden;
	font-weight: lighter !important;
}

#roomContainer{
	position:absolute;
	top: 100px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}

#index-header{
	font-size: 60px;
	text-align: center;
}

#newRoomButton, #joinRoomButton{
	font-size: 20px;
	margin: 5px;
}

#roomName{
	font-size: 30px;
	font-weight: lighter;
}

#userNameInput{
	font-size: 30px;
}

.navbar{
	margin-bottom: 0;
}

.highlight{
	background-color: rgb(200,200,200);
}

.navbar-brand{
	font-weight: lighter;
	font-size:20px;
}

#toolbar{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 400px;
	background-color: rgb(238, 238, 238);
}

#searchBar{

}

#chatInput{
	position: absolute;
	bottom: 0;
	left:0;
	overflow: auto;
}

table{
	table-layout: fixed;
	width: 400px;
}

.scroll-table{
	overflow:auto;
}

td{
	word-wrap: break-word;
}